

<header class="container-fluid bg-info p-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>
                    <a href="/" style="text-decoration: none; color: white">
                        Educación IT
                    </a>
                </h1>
            </div>
            <div class="col">
                {{> navbar}}
            </div>
        </div>
    </div>
</header>